@font-face {
	font-family: 'Yekan';
	src: url('../fonts/WebYekan.eot');
	src: url('../fonts/WebYekan.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/WebYekan.woff') format('woff'),
		 url('../fonts/WebYekan.ttf') format('truetype'),
		 url('../fonts/WebYekan.svg#WebYekan') format('svg');
}

body {
    direction: rtl;
    font-family: 'Yekan';
}
header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 0px;
    margin-right: 7px;
    padding-bottom: 0px;
    padding: 35px 8%;
}
header img#logo {
    width: 80px;
    height: 80px;
}
header img {
    width: 35px;
    height: 35px;
    margin: 8px 8px;   
}
nav {
    display: flex;
    flex-direction: row;
}
nav a {
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 13px;
    text-decoration: none;
    font-size: 18px;
}
